body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.btn-container {
    text-align: center;
    margin: 20px;
}

.upload-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.show-all-btn:hover {
    background-color: #45a049;
}
