body {
    margin: auto;
    padding: 50px;
    font-family: 'Arial', sans-serif; 
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.container {
    margin: 20px;
    width: 50%;
}

.container video {
    width: 100%;
    border-radius: 5px;
    border: 3px solid #000;
}

.top-right-refs {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
    color: black;
}

.top-right-refs a {
    text-decoration: none;
    color: inherit;
    transition: color 1s;
}

.top-right-refs a:hover {
    color: blue;
}
