<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/about.css" rel="stylesheet">
</head>
<body>
    <div class="top-right-refs">
        <a href="/">HomePage</a>
        <a href="/projects">Projects</a>
        <a href="/journal">Journal</a>
        <a href="/videos">Videos</a>
    </div>
    <div>
        <h1>About</h1>
        <p>Valeriy Taouk is a photographer and multidisciplinary artist living and working in Naarm / Melbourne.</p>
        <p>Currently exploring displacement, belonging, perception and the role photography plays in the modern world.</p>
        <h3>Education:</h4> 
        <p>Bachelor of Visual Arts (Photography) 2024-2027</p>
        <h3>Exhibitions:</h3>
        <p><a href="http://nyorastudio.com/this-must-be-the-place-valeriy-taouk/?fbclid=PAAaZXtyKhE9arKTnpiXR5cusZNq0oOY6g5ooBEt3Y310xOvSLUQomstb_S0Q_aem_ASegIoTp-ikY9hTmMGOUDr9NSarmeRx9XeHonQuW2jU9jw3-dwxxrr4eOEur_ztudCg">"This Must Be The Place" 2023</a> - Solo Exhibition at Nyora Gallery, Eltham</p>
        <h3>Contact:</h3>
        <p>email: <a href="mailto:valeriytaouk@gmail.com">valeriytaouk@gmail.com</a></p>
        <p>instagram: <a href="http://instagram.com/_u/{@bjorktelevision}/">@bjorktelevision</a></p>
    </div>
    <script src="static/js/login.js"></script>
    <a onclick="openPopup()" style="text-decoration:underline; color: blue; cursor:pointer;">Are you administrator?</a>
    <div class="overlay" id="overlay">
        <div class="popup">
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="button" onclick="login()">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
