<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/admin_page.css" rel="stylesheet">
    </head>
    <body>
        <input type="file" id="imageInput" style="display: none">
        <button type="button" id="uploadbtn">Upload image to journal</button>

        <input type="file" id="replaceImg" style="display: none">
        <button type="button" id="replacebtn">Replace index image</button>
        <script src="static/js/uploadImage.js"></script>
    </body>
</html>
