<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/admin_page.css" rel="stylesheet">
    </head>
    <body>
       <div class="top-right-refs">
            <a href="/">HomePage</a>
            <a href="/projects">Projects</a>
            <a href="/journal">Journal</a>
            <a href="/videos">Videos</a>
            <a href="/about">About</a>
        </div>

        <input type="file" id="imageInput" style="display: none">
        <button type="button" id="uploadbtn">Upload image/video to journal</button>

        <input type="file" id="replaceImg" style="display: none">
        <button type="button" id="replacebtn">Replace/Upload index image</button>

        <button type="button" onclick="openPopup()">Manage items</button>
        <div class="overlay" id="overlay">
            <div class="popup">
                {{range . }}
                <div class="management">
                    <img src="{{.Path}}">
                    <div class="buttons">
                        <header>{{.Path}}</header>
                        <button type="button" onclick="deleteImage({{.Path}})">Delete</button>
                        <button type="button" onclick="openDescriptionEditor({{.Path}})">Edit Description</button>
                    </div>
                    <div id="descriptionEditor_{{.Path}}" class="descriptionEditor" style="display: none;">
                        <textarea id="descriptionTextarea_{{.Path}}" rows=9 cols=60 >{{.Description.String}}</textarea>
                        <div style="display: flex;">
                            <button type="button" onclick="saveDescription({{.Path}})">Save</button>
                            <button type="button" onclick="closeDescriptionEditor({{.Path}})">Close</button>
                        </div>
                    </div>
                </div>
                {{end}}
                <button type="button" class="bottom-right-button" onclick="closePopup()">Close</button>
            </div>
        </div>
        <script src="static/js/fileManagment.js"></script>
        <script src="static/js/login.js"></script>
    </body>
</html>

