<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="top-right-refs">
        <a href="/projects">Projects</a>
        <a href="/journal">Journal</a>
        <a href="/about">About</a>
    </div>
    <h1 style="text-align: center;">Valeriy Taouk</h1>
    <div style="text-align: center;">
        {{ with .Path }}
            <img width="700" src={{ . }}>
        {{else}}
            <script>
                alert("There's no index image please upload one")
            </script>
        {{end}}
    </div>
</body>
</html>
