<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/videos.css" rel="stylesheet">
    <title>Videos</title>
</head>
<body>
    <div class="top-right-refs">
        <a href="/">HomePage</a>
        <a href="/projects">Projects</a>
        <a href="/journal">Journal</a>
        <a href="/about">About</a>
    </div>
    <h1>Videos</h1>
    <div class="column">
    {{range . }}
        <div class="row">
            <div class="container">
                <p>{{.Description.String}}</p>
            </div>
            <div class="container">
                <video src="{{.Path}}" width="50%" alt="Video" controls>
            </div>
        </div>
    {{end}}
    </div>
</body>
</html>
